/* Golobal styal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Header styal */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* logo */
.logo h1 {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

/* nav ul */
nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 10px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* hover */
nav a:hover {
    color: #007bff;
}

/* hire-me */
.hire-me a {
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    font-size: 1rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hire-me a:hover {
    color: #fff;
    background-color: #007bff;
}

/* hero section style */

.hero {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(#007bff, #00c8ff);
    background-size: cover;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-contant {
    max-width: 62%;
    padding: 0 50px;
    position: relative;
}

/* hero-contant - animated */

.hero-contant .animated-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    line-height: 1.2;
    position: relative;
    animation: slide-up 0.6s cubic-bezier(0.65, 0.05, 0.36, 1.0) 0.5s forwards;
}

.animated-title span {
    color: #89216B;
    display: inline-block;
    transform: translateY(50px);
    opacity: 0;
    animation: slide-up 0.4s cubic-bezier(0.65, 0.05, 0.36, 1.0) 1s forwards;

}

.animated-title span:nth-child(1) {
    animation-delay: 1.5s;
}

.animated-text {
    font-size: 1.0rem;
    font-weight: 400;
    opacity: 0;
    margin-bottom: 20px;
    transform: translateY(50px);
    animation: slide-up 0.4s cubic-bezier(0.65, 0.05, 0.36, 1.0) 1.5s forwards;
}

/* button design */
.cv-button {
    color: #953535;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    transform: translateY(50px);
    animation: slide-up 0.4s cubic-bezier(0.65, 0.05, 0.36, 1.0) 2s forwards;
}

.cv-button:hover {
    color: #112233;
}

.hero-image {
    max-width: 38%;
    position: relative;
    margin-top: 6rem;
    animation: slide-right 0.6s cubic-bezier(0.65, 0.05, 0.36, 1.0) 0.5s forwards;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes slide-right {
    form {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}